<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="com.android.demo.jnotepad">
    <!-- The following line remove the blur from running in compatibility modes 
    for phones earlier than version 3 (or at least that what it does for me on 
    both the emulator and my device)  -->
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>
    <application android:icon="@drawable/icon">
        <activity android:name=".JNotepad" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditNote" android:label="@string/app_name">
        </activity>
    </application>
    <!-- Need this to write to the sd card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 